body {
    background-color: #e6ecf0;
}
#header {
    background-color: #c6cfd4;
    width: 100%;
    height: 150px;
}
#logo {
    margin-top: -55px;
}
nav {
    background-color: white;
}

.navbar {
    border-radius: 0;
    margin: 0;
}
.navbar-right {
    float: right;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    width: 6pc;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}
#cleats {
    text-align: center;
}
#clothing {
    text-align: center;
    background-color: rgb(134, 197, 134);
}
#gear {
    text-align: center;
}
#cart {
    float: right;
    text-align: center;
    background-color: rgb(172, 252, 126);
}
