body {
    background-color: #e6ecf0;
}
#header {
    background-color: #c6cfd4;
    width: 100%;
    height: 150px;
}
#logo {
    margin-left: 30pc;
    margin-top: -55px;
}
nav {
    background-color: white;
}

.navbar {
    border-radius: 0;
    margin: 0;
}

#search {
    height: 28px;
    border-radius: 15px 0 0 15px;
}

#searchbutton {
    height: 32px;
    border-radius: 0 15px 15px 0;
    margin-right: 3%;
}

#search,
#searchbutton {
    border-color: #ece6f0;
    background-color: #f5f8fa;
    border-style: solid;
    border-width: 1px;
}

.navbar-right {
    float: right;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: left;
}

li a {
    display: block;
    width: 6pc;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

#brand-option {
    margin-left: 20pc;
    position: absolute;
    background-color: #fff;
    height: 40px;
    color: blue;
    width: 50pc;
}
#option {
    width: 20vh;
    background: none;
    border: none;
    color: blue;
}
#option:hover {
    background-color: black;
}
